---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import "../assets/styles/global.css";
const projects = await getCollection("projects");
---

<Layout>
  <section class="projects">
    <h2 class="projects_title">Some of my <span>Recent Projects</span></h2>
    <div class="cards">
      {
        projects.map((project) => {
          return (
            <Card
              link={`/projects/${project.id}`}
              image={project.data.image}
              title={project.data.title}
              summary={project.data.summary}
              date={project.data.date}
              tags={project.data.tags || []}
              identifier={project.id}
            />
          );
        })
      }
    </div>
  </section>
</Layout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    flex-wrap: wrap;
    gap: 40px;
    padding: 0px;
    justify-content: center;
  }
  .projects_title {
    text-align: center;
    font-size: 50px;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 50px;
  }
  .projects_title span {
    color: var(--acento-btn);
  }
</style>
