---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
---
const projects = await getCollection("projects");
---

<Layout
  title="Proyectos"
  description="Explora los proyectos de desarrollo web de Deanny Bruces. Una colección de aplicaciones web, sitios web y otros proyectos que demuestran mis habilidades y experiencia."
>
  <section class="projects content-grid">
    <h1 class="projects_title">
      Algunos de mis <span>Proyectos Recientes</span>
    </h1>
    <div class="cards">
      {
        projects.map((project) => {
          return (
            <Card
              link={`/projects/${project.id}`}
              image={project.data.image}
              title={project.data.title}
              summary={project.data.summary}
              date={project.data.date}
              tags={project.data.tags || []}
              identifier={project.id}
            />
          );
        })
      }
    </div>
  </section>
</Layout>

<style>
  /**Mobile First **/

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    flex-wrap: wrap;
    gap: 60px;
    padding: 0px;
    justify-content: center;
  }
  .projects_title {
    text-align: center;
    color: var(--text-color);
    margin-bottom: 4rem;
    margin-top: 9rem;
  }
  .projects_title span {
    color: var(--acento-btn);
  }

  /*Tablet*/

  @media (min-width: 768px) {
  }

  /* desktop */

  @media (min-width: 1024px) {
  }
</style>
