---
import Icon from "./Icon.astro";
import ExternalLink from "../assets/icons/external-link.svg";

interface Props {
  link: string;
  title: string;
  image: string;
  summary: string;
  tags: string[];
  date?: string;
}
const { title, image, summary, tags, link } = Astro.props;
---

<article class="card">
  <header class="card__header">
    <figure class="card__figure">
      <img class="card__img" src={image} alt="" />
    </figure>
    <h2 class="header__title">{title}</h2>
  </header>
  <div class="card__content">
    <p class="content__text">
      {summary}
    </p>
  </div>
  <footer class="card__footer">
    <div class="card__icons">
      {
        tags.map((tag) => {
          return <Icon name={tag} />;
        })
      }
    </div>
    <a href={link}>
      <span class="footer__link-external">
        <span>View project</span>
        <span><ExternalLink /></span>
      </span>
    </a>
  </footer>
</article>

<style>
  .card {
    max-width: 388px;
    background-color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }

  .card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border-color: var(--border-color);
  }

  .card__header {
    color: var(--text-color);
  }
  .header__title {
    margin-top: 5px;
    font-size: 1.5em;
    padding: 32px 32px 0px 32px;
    color: var(--primary-color);
    line-height: 1.2;
  }

  .card__img {
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    aspect-ratio: 16/10;
  }
  .card__content {
    color: #270a3f;
    padding: 32px 32px 32px 32px;
    flex-grow: 1;
  }
  .content__text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
  }

  .card__icons {
    color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  .card__footer {
    color: var(--text-color);
    font-weight: 400;
    padding: 32px 32px 32px 32px;
    text-align: end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 20px 20px;
    background-color: var(--primary-color);
  }

  .footer__link-external {
    color: var(--secondary-color);
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 5px;
  }
</style>
