---
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import ButtonCta from "./ButtonCta.astro";
const projects = await getCollection("projects");
---

<section class="featured-projects content-grid">
  <div class="breakout">
    <h2 class="subtitle">
      Algunos de mis <span class="subtitle__span">Proyectos Destacados</span>
    </h2>
    <div>
      <p class="featured-projects__description">
        Explora mis proyectos destacados: aplicaciones en React, TypeScript,
        HTML, CSS y mi blog en WordPress.
      </p>
      <p class="featured-projects__description">
        Cada trabajo refleja funcionalidad, diseño moderno y experiencias
        centradas en las personas.
      </p>
      <p class="featured-projects__description">
        Y esto es solo el comienzo: seguiré sumando proyectos con nuevas
        tecnologías para crear experiencias digitales únicas.
      </p>
    </div>
    <div class="cards">
      {
        projects
          .filter((project) => project.data?.starred)
          .map((project) => {
            return (
              <Card
                link={`/projects/${project.id}`}
                image={project.data.image}
                title={project.data.title}
                date={project.data.date}
                summary={project.data.summary}
                tags={project.data.tags || []}
                identifier={project.id}
              />
            );
          })
      }
    </div>
    <div class="btn-proyectos-container">
      <a href="/proyectos" class="btn-proyectos">Ver mas proyectos</a>
    </div>
  </div>
</section>

<style>
  .featured-projects {
    padding: 50px 0;
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 340px);
    gap: 40px;
    justify-content: center;

    margin-top: 60px;
    padding: 0;
  }

  .featured-projects__description {
    margin: 0 auto 20px;
  }

  .btn-proyectos-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .btn-proyectos {
    display: inline-block;

    padding: 0.8rem 1.5rem;
    border: 1px solid var(--deanny-purpura);
    border-radius: 60px;

    font-weight: 600;
    color: #8e44ad;
    text-decoration: none;

    transition: all 0.3s ease;
  }

  .btn-proyectos:hover {
    color: #fff;
    background: var(--deanny-purpura);
  }

  .subtitle {
    width: 100%;
    padding-bottom: 50px;
    text-align: center;
  }

  .subtitle__span {
    color: var(--deanny-lila);
  }
</style>
